*{
    background-color: #004D98;
    color: gold;
}
h1 {
    color:gold;
    background-color: red;
    padding: 2%;
    text-align: center;
}
.links {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 30px;
    border: solid;
    border-color: #FF0000;
}
a:visited {
    color: red;
    text-decoration: none;
}
.paraTitle {
    background-color: red;
}
.paraBody {
    border: solid;
    border-color: red;
}
.grid{
    border: solid;
    border-color: red;
    border-width: thick;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.gridItem:hover{
    transform: scale(1.2);
}
.gridItem:hover p{
    opacity: 1;
}
.gridItem img{
    position: relative;
}
.gridItem p{
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 10%;
}